@font-face {
    font-family: 'Torus';
    src: url('../fonts/Torus-TorusSemiBold.woff2') format('woff2'), url('fonts/Torus-TorusSemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Torus';
    src: url('../fonts/Torus-TorusThin.woff2') format('woff2'), url('fonts/Torus-TorusThin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Torus';
    src: url('../fonts/Torus-TorusBold.woff2') format('woff2'), url('fonts/Torus-TorusBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Torus';
    src: url('../fonts/Torus-TorusLight.woff2') format('woff2'), url('fonts/Torus-TorusLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Torus';
    src: url('../fonts/Torus-TorusRegular.woff2') format('woff2'), url('fonts/Torus-TorusRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    padding: 0px;
    margin: 0px;
    font-family: "Torus";
    --fff: #fff;
    --accent: #009bda;
    --accentless: #009bdadd;
    --accenttrans: #009bda77;
}

@media (prefers-color-scheme: dark) {
    * {
        --fff: #111;
        --accent: #fff;
        --accentless: #fffd;
        --accenttrans: #fff7;
    }
}

body {
    background-color: var(--fff);
}

.header {
    padding: 50px;
    background: linear-gradient(0deg, rgba(0, 134, 218, 1) 0%, rgba(0, 156, 218, 1) 100%);
}

@media (prefers-color-scheme: dark) {
    .header {
        background: linear-gradient(0deg, #2b2b2b 0%, var(--fff) 100%);
    }
}

.ht-logo {
    filter: grayscale(1) brightness(2.5);
    height: 48px;
}

.header-bottom {
    display: flex;
    width: 100%;
    padding-top: 4px;
}

.hb-text {
    font-size: 20px;
    font-weight: 600;
    color: white;
}

.hb-right {
    margin-left: auto;
}

.home {
    display: flex;
    display: flex;
    align-items: stretch;
    flex-direction: row;
    flex: 1;
}

.versions, .news {
    padding: 50px;
}

.news {
    padding: 0px;
    flex-grow: 1;
}

.sticky {
    position: sticky !important;
    display: sticky;
    padding: 50px;
    top: 0;
    padding-top: 40px;
}

.page-divider {
    width: 5px;
    background: linear-gradient(0deg, rgba(0, 134, 218, 1) 0%, rgba(0, 156, 218, 1) 50%, rgba(0, 134, 218, 1) 100%);
    margin-top: 50px;
    border-radius: 20px;
    margin-bottom: 50px;
}

@media (prefers-color-scheme: dark) {
    .page-divider {
        background: var(--accenttrans);
        width: 1px;
    }
}

.versions {
    width: 60%;
}

.news {
    width: 35% !important;
}

.vh-top {
    width: 100%;
}

.vh-text {
    font-size: 40px;
    color: var(--accent);
    font-weight: 700;
}

.vh-bottom {
    width: 100%;
    margin-top: 6px;
}

.search-bar {
    width: 100%;
    padding: 8px;
    border-radius: 10px;
    border: 2px solid var(--accent);
    font-size: 16px;
    font-weight: 600;
    color: var(--accent);
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

.real-search-bar {
    width: 100%;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    font-weight: 600;
    color: var(--accent);
    margin-left: 5px;
    background-color: #0000;
}

.version {
    background-color: var(--fff);
    border-radius: 15px;
    filter: drop-shadow(5px 5px 26px #0002);
    margin-top: 20px;
    border: 1px solid var(--accenttrans);
    display: flex;
}

.version-image {
    height: 184px;
    border-radius: 15px;
    filter: drop-shadow(2px 2px 8px #0001);
    border-right: 1px solid var(--accenttrans);
}

.image-container {
    display: flex;
}

.texts {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.ver-header {
    display: flex;
    flex-direction: column;
}

.ver-arch {
    display: flex;
    opacity: 0.9;
    align-items: flex-end;
}

.verh-archiver {
    margin-left: 5px;
}

.verh-name {
    font-size: 30px;
    line-height: 30px;
    color: var(--accent);
    font-weight: 800;
}

.verh-version {
    font-size: 20px;
    line-height: 20px;
    color: var(--accentless);
    font-weight: 600;
}

.verh-archiver {
    font-size: 15px;
    line-height: 15px;
    color: var(--accenttrans);
}

.verd-desc {
    color: var(--accentless);
    font-weight: 600;
    margin: 6px 0px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
    flex-grow: 1;
}

.ver-viewdown {
    display: flex;
    justify-items: center;
}

.vevd-views, .vevd-downloads {
    display: flex;
    font-size: 15px !important;
    color: var(--accent) !important;
    display: flex;
    align-items: center;
}

.ver-viewdown {
    margin-top: 2px;
    margin-bottom: 5px;
}

.vevd-download-count, .vevd-view-count {
    line-height: 16px;
    margin-left: 3px;
    padding-bottom: 3px;
}

.vevd-downloads {
    margin-left: 10px;
}

.db-download {
    padding: 8px 65px;
    border-radius: 15px;
    border: 1px solid var(--accent);
    box-sizing: border-box;
    color: var(--accent) !important;
    text-decoration: none;
    transition: all 0.1s cubic-bezier(0, .23, 0, .93)
}

.db-download:hover {
    background-color: var(--accent);
    color: white !important;
}

.download-button {
    display: flex;
    width: 100%;
    color: var(--accent);
}

.texts {
    padding: 20px;
}

.ver-description p {
    color: var(--accentless);
    font-weight: 600;
    margin: 6px 0px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
    flex-grow: 1;
}

.new-container {
    padding: 5px 8px;
    background-color: var(--accent);
    border-radius: 500px;
    color: white;
    font-size: 13px;
    margin-left: 5px;
}

.name {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.vh-text-small {
    color: var(--accent);
    font-size: 21px;
    font-weight: 600;
}

.n-panel {
    background-color: black;
    border-radius: 15px;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-top: 10px;
    filter: drop-shadow(2px 2px 8px #0001);
}

.np-content {
    padding: 30px;
    border-radius: 14px;
    align-content: flex-end;
    justify-content: flex-end;
    align-items: flex-start;
    border: 1px solid var(--accenttrans);
    backdrop-filter: blur(2px);
    display: flex;
    flex-direction: column;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.9261905445772058) 0%, rgba(255, 255, 255, 0.7749300403755253) 100%);
}

@media (prefers-color-scheme: dark) {
    .np-content {
        background: linear-gradient(90deg, rgba(0, 0, 0, 0.9261905445772058) 0%, rgba(0, 0, 0, 0.7749300403755253) 100%);
    }
}

.np-by, .np-title, .np-desc {
    color: var(--accent);
}

.np-by {
    font-size: 20px;
    opacity: 0.4;
    font-weight: 600;
    line-height: 0.8;
}

.np-title {
    font-size: 28px;
    font-weight: 700;
}

.np-desc {
    font-size: 20px;
    line-height: 0.7;
}

.np-but {
    padding: 5px 10px;
    border-radius: 200px;
    border: 1px solid var(--accent);
    color: var(--accent);
    margin-top: 8px;
    box-sizing: border-box;
}

.tu-user {
    border-radius: 200px;
    display: flex;
    align-items: center;
    padding: 8px;
    border: 1px solid var(--accenttrans);
    margin-top: 8px;
    filter: drop-shadow(2px 2px 8px #0001);
    background-color: var(--fff);
}

.tuu-pfp {
    height: 40px;
    border-radius: 200px;
}

.tuu-username, .tuu-rank {
    color: var(--accent);
    font-size: 22px;
    margin-bottom: 3px;
    margin-left: 8px;
}

.tuu-rank {
    margin-left: auto;
    margin-right: 15px;
}

.top3up-content {
    padding-bottom: 15px;
}

@media only screen and (max-width: 1300px) {
    .home {
        flex-direction: column-reverse !important;
        display: flex;
    }
    .versions {
        width: 100% !important;
        box-sizing: border-box;
        padding-top: 0px !important;
    }
    .news {
        width: 100% !important;
        box-sizing: border-box;
    }
    .page-divider {
        width: 0%;
        height: 0%;
        position: absolute !important;
        opacity: 0;
        top: 0 !important;
        left: 0 !important;
    }
    .top3up-content {
        margin-bottom: 20px !important;
    }
}

.version {
    overflow: hidden;
}

.ver-cont {
    padding: 50px;
    padding-top: 43px;
    box-sizing: border-box;
}

.screenshots {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 25px;
}

.ss-screenshot {
    width: 32.5%;
    margin-bottom: 25px;
    border-radius: 15px;
    filter: drop-shadow(5px 5px 26px #0002);
}

.ver-panel {
    border-radius: 15px;
    overflow: hidden;
    filter: drop-shadow(5px 5px 26px #0002);
    border: 1px solid var(--accenttrans);
}

.ver-panel-content {
    background-color: var(--fff);
    padding: 30px;
}

.blur-cont {
    padding: 30px;
    padding-bottom: 35px;
    align-content: flex-end;
    justify-content: flex-end;
    align-items: flex-start;
    backdrop-filter: blur(6px);
    display: flex;
    flex-direction: row;
    background: #009CDAdd;
}

@media (prefers-color-scheme: dark) {
    .blur-cont {
        background: #000d;
    }
}

.ver-panel-header {
    background-color: black;
    border-radius: 15px;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.bc-right {
    margin-left: auto;
    display: flex;
    justify-content: center;
}

.bc-left {
    margin-left: 0px;
}

.bc-views, .bc-downloads {
    display: flex;
    color: white;
    font-size: 18px;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
}

.bcv-view-count, .bcd-download-count {
    margin-left: 3px;
}

.bc-downloads {
    margin-left: 16px;
}

.versionname {
    color: white;
    font-size: 38px;
    font-weight: 700;
}

.vn-thin {
    font-weight: 500;
}

.bc-date {
    font-size: 25px;
    color: white;
    opacity: 0.81;
}

.bc-archiver {
    font-size: 20px;
    color: white;
    margin-top: 3px;
    opacity: 0.59;
}

.ver-panel {
    margin-top: 10px;
}

.bca-name {
    font-weight: 700;
}

.warning {
    background-color: #FF99000a;
    border: 1px solid #FF9900;
    border-radius: 200px;
    padding: 9px;
    display: flex;
    color: #FF9900;
    font-size: 23px;
    align-items: center;
    justify-items: center;
}

.warning-text {
    font-weight: 500;
    font-size: 18px;
    margin-left: 8px;
    margin-bottom: 1px;
    opacity: 0.8;
}

.vpc-description {
    font-size: 21px;
    color: var(--accent);
    margin-bottom: 15px;
}

.vpcd-paddingtop {
    margin-top: 15px;
}

.vpc-download-button {
    border: 1px solid var(--accent);
    padding: 10px;
    border-radius: 50px;
    color: var(--accent);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    transition: all 0.1s cubic-bezier(0, .23, 0, .93);
    box-sizing: border-box;
}

.vpc-download-button:hover {
    background-color: var(--accent);
    color: var(--fff);
}

.dlb {
    padding-right: 15px !important;
}

.db {
    margin-left: 5px;
}

@media (prefers-color-scheme: dark) {
    .newspost {
        color: white !important;
    }
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #0004;
    backdrop-filter: blur(10px);
    filter: drop-shadow(0 0 10px #0005);
}

.footer-content {
    padding: 15px;
    padding-left: 50px;
    color: white;
    display: flex;
    padding-right: 50px;
}

.wip-warning {
    padding: 15px;
    padding-left: 50px;
    color: white;
    display: flex;
    background-color: #f00c;
    padding-right: 50px;
}

.fc-left {
    margin-left: auto;
}

.ft-link {
    text-decoration: none;
    color: white !important;
}

.vpc-description h1 {
    line-height: 1.5;
    color: var(--accent);
}

.vpc-description h2 {
    padding-top: 25px;
    line-height: 1;
    color: var(--accent);
}

.vpc-description p {
    line-height: 1.5;
    margin-top: 15px;
}

.vpc-description hr {
    border: 2px solid #aaa;
    border-radius: 5px;
    margin-top: 35px;
    margin-bottom: 10px;
}

.e404 {
    margin: 50px;
}