
.logosube{
    padding-top: 25px;
    font-size: 15px;
    margin: auto;
    text-align: center !important;
    color: rgba(0,134,218,1);

    font-weight: 600;
    padding-bottom: 25px;
}


a{
   color: rgba(0,100,208,0.8) !important;
   text-decoration: underline;
}