@font-face {
    font-family: 'Torus';
    src: url('fonts/Torus-TorusSemiBold.woff2') format('woff2'), url('fonts/Torus-TorusSemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Torus';
    src: url('fonts/Torus-TorusThin.woff2') format('woff2'), url('fonts/Torus-TorusThin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Torus';
    src: url('fonts/Torus-TorusBold.woff2') format('woff2'), url('fonts/Torus-TorusBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Torus';
    src: url('fonts/Torus-TorusLight.woff2') format('woff2'), url('fonts/Torus-TorusLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Torus';
    src: url('fonts/Torus-TorusRegular.woff2') format('woff2'), url('fonts/Torus-TorusRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    padding: 0px;
    margin: 0px;
    font-family: "Torus";
    --fff: #fff;
    --accent: #009bda;
}

.header {
    padding: 50px;
    background: linear-gradient(0deg, rgba(0, 134, 218, 1) 0%, rgba(0, 156, 218, 1) 100%);
}

.ht-logo {
    filter: grayscale(1) brightness(2.5);
    height: 48px;
}

.header-bottom {
    display: flex;
    width: 100%;
    padding-top: 4px;
}

.hb-text {
    font-size: 20px;
    font-weight: 600;
    color: white;
}

.hb-right {
    margin-left: auto;
}

.home {
    display: flex;
    align-items: stretch;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    /* align items in Main Axis */
    align-items: stretch;
    /* align items in Cross Axis */
    align-content: stretch;
    /* Extra space in Cross Axis */
}

.versions,
.news {
    padding: 50px;
}

.page-divider {
    width: 5px;
    background: linear-gradient(0deg, rgba(0, 134, 218, 1) 0%, rgba(0, 156, 218, 1) 50%, rgba(0, 134, 218, 1) 100%);
    margin-top: 50px;
    border-radius: 20px;
}

.versions {
    width: 70%;
}

.news {
    width: 30%;
}

.vh-top {
    width: 100%;
}

.vh-text {
    font-size: 40px;
    color: var(--accent);
    font-weight: 700;
}

.vh-bottom {
    width: 100%;
    margin-top: 6px;
}

.search-bar {
    width: 100%;
    padding: 5px;
    border-radius: 10px;
    border: 2px solid var(--accent);
}