.listingheader {
    background: -webkit-linear-gradient(-90deg, rgba(0, 134, 218, 1) 0%, rgba(0, 159, 218, 1) 100%);
    border-radius: 27px 27px 0 0;
    text-align: center;
    padding: 0 !important;
    margin: 0px !important;
    display: block;
    bottom: 0px;
    position: relative;
    height: 62px;
    -webkit-filter: drop-shadow(1px 1px 6px rgba(0, 0, 0, 0.15));
}

.listingheadertext {
    padding-top: 5px;
    padding-bottom: 3px;
    margin-top: 4px;
    font-size: 35px;
    color: #fff;
    font-weight: 600;
}

.listingcontent {
    background: #fff;
    border-radius: 0 0 27px 27px;
    text-align: center;
    padding: 0 !important;
    margin: 0px !important;
}

.listingcontent:first-child {
    padding-top: 30px !important;
    background-color: green;
}

.listing {
    width: 808px !important;
    margin: 0 auto !important;
    display: block;
    bottom: 0px;
    position: relative;
    -webkit-filter: drop-shadow(1px 1px 6px rgba(0, 0, 0, 0.15));
}

p {
    margin: 0px;
}

.mini {
    font-size: 60%;
}

.ic-header {
    font-size: 3.3rem;
    letter-spacing: -0.005em;
    text-align: left;
    padding-top: 2px;
    color: #00A8FF;
    z-index: 112;
    font-weight: 600 !important;
}

.ic-version {
    font-size: 1.8rem;
    font-weight: 500;
    text-align: left;
    color: #00A8FFee;
    z-index: 112;
}

.archiver {
    font-size: 1.3rem;
    text-align: left;
    padding-bottom: 5px;
    color: #00A8FFdd;
    z-index: 112;
    font-weight: 400;
    opacity: 0.7;
}

.textcontainer {
    padding: 60px;
    z-index: 112;
    position: relative;
    overflow: hidden !important;
    padding-top: 40px;
    padding-bottom: 48px;
}

.infocover {
    background-repeat: no-repeat;
    background-attachment: center;
    background-position: center center;
}

.vl-desctext {
    font-size: 20px;
    text-align: left;
    color: #00A8FF;
    font-weight: 600;
}

.vl-desc {
    padding: 20px;
}

.listingheader {
    z-index: 100;
    overflow: hidden !important;
}

.listingcontent {
    z-index: 10;
    overflow: hidden !important;
}

.dlbut {
    display: inline-block;
    width: 49%;
}

.c-vadinfo {
    display: inline-block !important;
    float: left;
    padding-top: 0px;
    color: #00A8FFcc;
}

.c-views {
    display: inline-block !important;
}

.c-downloads {
    padding-left: 20px;
    display: inline-block !important;
}

.ss-container {
    display: flex;
    flex-wrap: wrap;
}

.ss-container .ss-image {
    width: 50%;
}

.ss-container img {
    width: calc(100% - (20px * 2));
    margin: 20px;
    border-radius: 7px;
}

.screenshotsheader {
    background-color: #00A8FF28;
}

.ssh-text {
    padding-top: 18px;
    padding-bottom: 21px;
    color: rgb(0, 42, 63);
    text-align: left;
    padding-left: 25px;
}

.listing-button {
    padding: 10px 15px;
    font-size: 15px;
    margin-right: 15px;
    flex: 1;
    margin-top: 15px;
}

.listing-button:hover {
    padding: 10px 15px;
    font-size: 15px;
    margin-right: 15px;
    flex: 1;
}

.dlcont {
    width: 100%;
    text-align: left;
    margin-top: 6px;
}