.listingheader {
    background: -webkit-linear-gradient(-90deg, rgba(0, 134, 218, 1) 0%, rgba(0, 159, 218, 1) 100%);
    border-radius: 27px 27px 0 0;
    text-align: center;
    padding: 0 !important;
    margin: 0px !important;
    display: block;
    bottom: 0px;
    position: relative;
    height: 62px;
    -webkit-filter: drop-shadow(1px 1px 6px rgba(0, 0, 0, 0.15));
}

.listingheadertext {
    padding-top: 7px;
    padding-bottom: 3px;
    font-size: 35px;
    color: #fff;
    font-weight: 600;
}

.listingcontent {
    background: #fff;
    border-radius: 0 0 27px 27px;
    text-align: center;
    padding: 0 !important;
    margin: 0px !important;
}

.listingcontent:first-child {
    padding-top: 30px !important;
    background-color: green;
}

.listing {
    width: 808px !important;
    margin: 0 auto !important;
    display: flex;
    flex-direction: column;
    bottom: 0px;
    position: relative;
    -webkit-filter: drop-shadow(1px 1px 6px rgba(0, 0, 0, 0.15));
}

p {
    margin: 0px;
}

.new-listingcontent {
    padding: 25px;
    padding-top: 11px;
    background-color: white;
}